
<div class="mdl-grid"  >
  <div class="mdl-cell mdl-cell--1-col" ></div>
<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp mdl-cell ">
  <thead>
  <tr>
    <th >cin</th>
    <th>nom</th>
    <th>prenom</th>
    <th>email</th>
    <th>num tel</th>
    <th>adresse</th>
    <th>disponibilite</th>
    <th colspan="2" style="text-align: center">actions</th>

  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let form of formateurs">
      <td>{{form.cin}}</td>
      <td>{{form.nom}}</td>
      <td>{{form.prenom}}</td>
      <td>{{form.email}}</td>
      <td>{{form.numeroTel}}</td>
      <td>{{form.adresse}}</td>
      <td>{{form.disponibilite}}</td>
      <td><button >modifier</button></td>
      <td><button (click)="supprimer(form.cin)">supprimer</button></td>
    </tr>
  </tbody>
</table>
</div>

<button  routerLink="../ajouter" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="right:15px;bottom:30px;position: fixed;">
  <i class="material-icons">add</i>
</button>
