<!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><i class="fa fa-home"></i>  Welcome</span>
    <img src="../../assets/user.png" width="70%" style="padding-left: 40px">

    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="formateur/lister"><i class="glyphicon glyphicon-user"></i>  Formateur</a>
      <a class="mdl-navigation__link" routerLink="formation/lister"><i class="glyphicon glyphicon-user"></i>  Formation</a>


    </nav>
  </div>
  <main class="mdl-layout__content ">
    <div class="page-content mdl-grid"><router-outlet></router-outlet></div>
  </main>
</div>


