<div class="mdl-grid ">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <form   (ngSubmit)="ajouter($event)"><div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="cin">
          <label class="mdl-textfield__label" for="cin">cin</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="nom">
          <label class="mdl-textfield__label" for="nom">nom</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="prenom">
          <label class="mdl-textfield__label" for="prenom">prenom</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="email">
          <label class="mdl-textfield__label" for="email">email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="adresse">
          <label class="mdl-textfield__label" for="adresse">Adresse</label>
        </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="disponibilite">
          <label class="mdl-textfield__label" for="disponibilite">disponibilite</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
          <input class="mdl-textfield__input" type="text" id="num">
          <label class="mdl-textfield__label" for="num">num</label>
        </div>


    </div>
<div style="text-align: center">
    <div class="mdl-card__actions mdl-card--border">
      <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Ajouter
      </button>
    </div></div>
    </form>
  </div>
</div>
<script>
  upgradeAllRegistered();
</script>
<!--

<form (ngSubmit)="ajouter($event)">
  <div class="row">
    <div class="col">
      <label for="cin">Cin</label>
      <input type="text" class="form-control" placeholder="cin" id="cin">
    </div>
    <div class="col">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" placeholder="nom" id="nom">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="prenom">prenom</label>
      <input type="text" class="form-control" placeholder="prenom" id="prenom">
    </div>
    <div class="col">
      <label for="disponibilite">disponibilite</label>
      <input type="text" class="form-control" placeholder="disponibilite" id="disponibilite">
    </div>

  </div>
  <div class="row">
    <div class="col">
      <label for="Email address">Email address</label>
      <input type="text" class="form-control" placeholder="Email address" id="Email address">
    </div>
    <div class="col">
      <label for="num">num</label>
      <input type="text" class="form-control" placeholder="num" id="num">
    </div>

  </div>
  <div class="row">
    <div class="col">
      <label for="adresse">adresse</label>
      <input type="text" class="form-control" placeholder="adresse" id="adresse">
    </div>



  </div>
  <div style="text-align: center"> <button type="submit"  class="btn btn-primary">Submit</button></div>
</form>

-->
