<form>
  <div class="form-row">
    <div class="col">
      <label>Email address</label>

      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <label>Email address</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label>idFormation</label>

      <input type="text" class="form-control" placeholder="idFormation" id="idFormation">
    </div>
    <div class="col">
      <label>description</label>
      <input type="text" class="form-control" placeholder="description" id="description">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label>dateFormation</label>

      <input type="date" class="form-control" placeholder="dateFormation">
    </div>
    <div class="col">
      <label>prix</label>
      <input type="number" class="form-control" placeholder="description" id="prix">
    </div>

  </div>
  <div class="form-row">
    <div class="col">
      <label>Formateur</label>

      <input type="text" class="form-control" placeholder="Formateur" id="Formateur">
    </div>


  </div>
</form>
